<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.zee5.qa.testcases.MoviesPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>MovieListingSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>castcrewpageAssertion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MoviesListingPageTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checklistpage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>licensepage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>mapcontentpageAssertion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>loginVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>moviepage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>video</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>mapcontentpage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>imagespageAssertion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>quicklink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>moviePropertiesAssertion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>seopage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>seopageAssertion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>castProfileandMaster</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>videoAssertion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>workflowpage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>castcrewpage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Clone</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>imagespage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
