<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:03:42</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;MoviesPageTest.setup(java.lang.String)[pri:0, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:03:52</td>   <td>9988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.loginVerify()[pri:0, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">loginVerify</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:03:56</td>   <td>13455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.castProfileandMaster()[pri:1, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">castProfileandMaster</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:04:28</td>   <td>46053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.moviepage()[pri:2, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">moviepage</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:05:11</td>   <td>88777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.moviePropertiesAssertion()[pri:3, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">moviePropertiesAssertion</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:05:12</td>   <td>89442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.castcrewpage()[pri:4, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">castcrewpage</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:05:25</td>   <td>102218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.castcrewpageAssertion()[pri:5, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">castcrewpageAssertion</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:05:25</td>   <td>102298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.video()[pri:6, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">video</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:05:31</td>   <td>108602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.videoAssertion()[pri:7, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">videoAssertion</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:05:31</td>   <td>108633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.licensepage()[pri:8, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">licensepage</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:06:11</td>   <td>148285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.imagespage()[pri:9, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">imagespage</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:06:38</td>   <td>176062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.imagespageAssertion()[pri:10, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">imagespageAssertion</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:06:41</td>   <td>178484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.seopage()[pri:11, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">seopage</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:07:28</td>   <td>225177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.seopageAssertion()[pri:12, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">seopageAssertion</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:07:28</td>   <td>225241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.mapcontentpage()[pri:13, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">mapcontentpage</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:07:32</td>   <td>229108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.mapcontentpageAssertion()[pri:14, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">mapcontentpageAssertion</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:07:32</td>   <td>229145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.quicklink()[pri:15, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">quicklink</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:08:00</td>   <td>257423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.checklistpage()[pri:16, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">checklistpage</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:08:06</td>   <td>263149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.workflowpage()[pri:17, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">workflowpage</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:08:47</td>   <td>304603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.Clone()[pri:18, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">Clone</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:08:57</td>   <td>314819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.MoviesListingPageTest()[pri:19, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">MoviesListingPageTest</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:09:51</td>   <td>368825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoviesPageTest.MovieListingSearch()[pri:20, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">MovieListingSearch</td> 
  <td>main@934275857</td>   <td></td> </tr>
<tr bgcolor="b0a6f6">  <td>21/07/01 18:09:56</td>   <td>373116</td> <td>&nbsp;</td><td title="&lt;&lt;MoviesPageTest.tearDown()[pri:0, instance:com.zee5.qa.testcases.MoviesPageTest@7ed7259e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@934275857</td>   <td></td> </tr>
</table>
