<h2>Reporter output</h2><table><tr><td>Movie Published Status is Passed</td></tr>
<tr><td>Movie Unpublished Status is Passed</td></tr>
<tr><td>Movie Archived Status is Passed</td></tr>
<tr><td>Movie Restore Status is Passed</td></tr>
<tr><td>Movie Published Status is Passed</td></tr>
<tr><td>Movie Changed Status is Passed</td></tr>
<tr><td>Movie Republished Status is Passed</td></tr>
</table>