<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.zee5.qa.testcases.EpisodeQuickFillingPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeLicense</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeQuickfilingVideoSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeImages</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeAssertions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodePublish</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeSeoDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeQuickfilingProperties</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.zee5.qa.testcases.SeasonSingleLandingTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SeasonSingleLandingLicense</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonSingleLandingProperties</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonSingleLandingImages</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonSingleLandingAssertions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonSingleLandingRelatedContent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonSingleLandingPublish</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonSingleLandingSeoDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonSingleLandingCastCrew</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.zee5.qa.testcases.TvShowsQuickFilingTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TvPropertiesQuickFiling</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvQuickFilingPublishFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvLicenseQuickFiling</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvRelatedContentQuickFiling</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvImagesQuickFiling</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvMapContentQuickFiling</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvSeoDetailsQuickFiling</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvQuickFilingAssertions</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.zee5.qa.testcases.SeasonPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SeasonOrdering</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonPropertiesAssertion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonImages</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonCastCrew</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonLicense</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonCastCrewAssertion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonImagesAssertion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonTranslations</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonSeoDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonListingPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonPublish</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonProperties</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonAssertionResults</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonRelatedContent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.zee5.qa.testcases.SeasonQuickfillingPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SeasonQuickFilingLicense</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonQuickFilingProperties</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonQuickFilingRelatedContent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonQuickFilingImages</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonQuickFilingSeoDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonQuickFilingPublish</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SeasonQuickFilingAssertion</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.zee5.qa.testcases.TvShowsPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TvMapContentAssertions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvShowFilters</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvShowScheduleContent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvCastCrew</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvShowMapContent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvShowListingPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvTranslations</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvShowImages</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvShowSort</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvShowCastCrewAssertions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvShowVideoProperties</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvShowImagesAssertions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvShowSeoDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvShowVideoPropertiesAssertions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvPublishFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvShowListingSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvShowRelatedContent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvShowSeoDetailsAssertions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvShowLicense</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TVAssertionResults</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.zee5.qa.testcases.EpisodesPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeCastCrew</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeLicense</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeAssertionResults</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeTranslations</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeProperties</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeImages</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodePublish</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeVideoSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeSeoDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeRelatedContent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeListingPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.zee5.qa.testcases.TvShowsSingleLandingTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TvSeoDetailsSingleLanding</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvPropertiesSingleLanding</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvRelatedContentSingleLanding</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvCastCrewSingleLanding</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvMapContentSingleLanding</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvSingleLandingAssertions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvLicenseSingleLanding</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvSingleLandingPublishFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TvImagesSingleLanding</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.zee5.qa.testcases.EpisodesSingleLandingPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeCastCrew</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeLicense</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeProperties</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeImages</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeAssertions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodePublish</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeSeoDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EpisodeRelatedContent</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
