<h2>Reporter output</h2><table><tr><td>TvShow Content Draft Status is Passed</td></tr>
<tr><td>TvShow Content Published Status is Passed</td></tr>
<tr><td>TvShow Content Republished Status is Passed</td></tr>
<tr><td>TvShow Content Unpublished Status is Passed</td></tr>
<tr><td>TvShow content Archived Status is Passed</td></tr>
<tr><td>TvShow content Restore Status is Passed</td></tr>
<tr><td>TvShow Content Scheduled Status is Passed</td></tr>
<tr><td>Season Draft Status is Passed</td></tr>
<tr><td>Season Content Published Status is Passed</td></tr>
<tr><td>Season Content Unpublished Status is Passed</td></tr>
<tr><td>Episode Draft Status is Passed</td></tr>
<tr><td>Episode Published Status is Passed</td></tr>
<tr><td>Episode Unpublished Status is Passed</td></tr>
<tr><td>TvShow QuickFiling Draft Status is Passed</td></tr>
<tr><td>TvShow QuickFiling Published Status is Passed</td></tr>
<tr><td>TvShow QuickFiling Republished Status is Passed</td></tr>
<tr><td>TvShow QuickFiling Unpublished Status is Passed</td></tr>
<tr><td>TvShow QuickFiling Archived Status is Passed</td></tr>
<tr><td>TvShow QuickFiling Restore Status is Passed</td></tr>
<tr><td>TvShow QuickFiling Scheduled Status is Passed</td></tr>
<tr><td>Season QuickFiling Draft Status is Passed</td></tr>
<tr><td>Season QuickFiling Published Status is Passed</td></tr>
<tr><td>Season QuickFiling Unpublished Status is Passed</td></tr>
<tr><td>Episode QuickFiling Draft Status is Passed</td></tr>
<tr><td>Episode QuickFiling Published Status is Passed</td></tr>
<tr><td>Episode QuickFiling Unpublished Status is Passed</td></tr>
<tr><td>TvShow SingleLanding Draft Status is Passed</td></tr>
<tr><td>TvShow Singlelanding Published Status is Passed</td></tr>
<tr><td>TvShow Singlelanding Republished Status is Passed</td></tr>
<tr><td>TvShow Singlelanding Unpublished Status is Passed</td></tr>
<tr><td>TvShow SingleLanding Archived Status is Passed</td></tr>
<tr><td>TvShow SingleLanding Restore Status is Passed</td></tr>
<tr><td>TvShow SingleLanding Scheduled Status is Passed</td></tr>
<tr><td>Season SingleLanding Published Status is Passed</td></tr>
<tr><td>Season SingleLanding Unpublished Status is Passed</td></tr>
<tr><td>Episode SingleLanding Draft Status is Passed</td></tr>
<tr><td>Episode SingleLanding Published Status is Passed</td></tr>
<tr><td>Episode SingleLanding Unpublished Status is Passed</td></tr>
</table>